.company-div{
    display: flex;
    justify-content: center;
    width: 100vw;
    gap: 30px;
    /* background-color: blue; */
    margin-bottom: 5vh;
    margin-top: 3rem;
}
.company-img{
    background-image: url(../images/shipchandling.jpg);
    background-size: cover;
}
.value-img{
    background-image: url(../images/ship-2.jpg);
    background-size: cover;
}
.headquarter-img{
    background-image: url(../images/hero-3-bg.jpg);
    background-size: cover;
    
}
.Commitment-img{
    background-image: url(../images/mechanics.jpg);
    background-size: cover;
    
}

.company-img,.value-img,.value-img,.Commitment-img,.headquarter-img{
    width: 40%;
    height: 100%;
    aspect-ratio: 1/1;
    margin-top: 2rem;
}

.content{
    display: flex;
    background-color: rgb(180, 253, 170);
    padding: 1.5rem 1rem;
    flex-direction: column;
    width: 40%;
    height: fit-content;
    gap: 1.5rem;
    font-size: larger;
    line-height: 26px;
    margin: 0;
}
.content>h1{
    margin-left: 1rem !important;
    margin: 0;
    color: #063eaf;
}
.content>p{
    width: 100%;
    font-size: 1rem;
    padding: 0 0.7rem;
    margin: 0;
}

#head-q-content>p{
    font-size: 1.35rem;
}


.button{
    background-color: white;
    border-radius: 25px;
    width: 11rem;
    height: 3rem;
    color: #063eaf;
    text-decoration: none;
    border: 1px solid;
    padding: 0 7px;
    margin: auto;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover{
    color: white;
    background-color: rgb(0, 119, 255);
    transition: 0.4s ease;
}
h1{
    font-size: 32px;
    line-height: 2rem;
}

@media (max-width:640px){
    .company-div{
       gap: 0.5rem;
    }
    .content{
        width: 48%;
    }
    .content>h1{
        font-size: 1.5rem;
    }
    h1{
        font-size: 1.5rem;
    }
    .content>p{
        font-size: 1rem;
        line-height: 1.25rem;
    }
    #head-q-content>p{
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}

@media (max-width:418px){
    .company-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        width: 100vw;
        gap: 30px;
        /* background-color: blue; */
        /* margin-bottom: 10vh; */
    }
    .company-img,.value-img,.value-img,.Commitment-img,.headquarter-img{
        width: 85%;
        height: 100%;
        aspect-ratio: 1/1;
    }
    .content{
        display: flex;
        background-color: rgb(180, 253, 170);
        padding: 50px 25px;
        flex-direction: column;
        width: 70%;
        height: fit-content;
        gap: 18px;
        font-size: larger;
        line-height: 22px;
        margin: 0;
    }
    h1{
        font-size: 25px;
    }
    button{
        background-color: white;
        border-radius: 25px;
        width: 50vw;
        color: blue;
        text-decoration: none;
        border: 1px solid;
        padding: 7px;
        height: 50px;
    }
}