.hero{
    width: 100vw;
    height: 100vh;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero-cont>h1{
    color: #142850;
    text-align: center;
    font-size: 3.5rem;
    max-width: 90%;
}
.hero-cont>p{
    color: #142850;
    text-align: center;
    font-size: 1.4rem;
    max-width: 90%;
    font-weight: 600;
}
.services{
    background-color: #F3D5D5;
    width: 100vw;
    height: fit-content;
    padding: 3rem 0;
}
.services>h1{
    text-align: center;
    color: #142850;
    font-size: 3.5rem;
    font-weight: 100;
    padding: 0;
    margin: 0;
    letter-spacing: 0.1rem;
}
.services>p{
    text-align: center;
    color: cornflowerblue;
    font-size: 1.15rem;
    max-width: 80vw;
    margin: auto;
    font-weight: 300;
    font-style: italic;
    margin-top: 0.8rem;
    letter-spacing: 0.1rem;
}
.service-cont{
    width: 78vw;
    height: 90%;
    border: 1px solid black;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service-list{
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.each-service{
    display: flex;
    justify-content: space-between;
}
.each-img{
    width: 8rem;
    height: 8rem;
    background-color: white;
    border-radius: 50%;
}
.each-title{
    width: 80%;
}
.each-title>h3{
    color: #142850;
    font-size: 1.5rem;
    margin: 0;
}
.each-title>p{
    color: #1e3c79;
    width: 100%;
}






.contact-card{
    width: 15rem;
    height: 98%;
    background-color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.9rem;
}
.border-cont{
    width: 95%;
    height: 80%;
    border: 2px solid #142850;
    border-radius: 0.6rem;
}




@media (max-width:1000px) {

}


@media (max-width:770px) {
    .hero-cont>h1{
        font-size: 2.5rem ;
        line-height: 3rem;
    }
    .hero-cont>p{
        font-size: 1.5rem;
        line-height: 2.3rem;
    }
    .services>h1{
        font-size: 2.2rem;
        letter-spacing: 0.03rem;
    }
    .services>p{
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
}


@media (max-width:418px) {
   
}