.hero{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1428507c;
    background: url(/src/images/Hero-bg.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-position: 50%;
    
}
.hero-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.hero-cont>h1{
    color: #142850;
    text-align: center;
    font-size: 3.5rem;
    max-width: 90%;
}
.hero-cont>p{
    color: #142850;
    text-align: center;
    font-size: 1.4rem;
    max-width: 90%;
    font-weight: 600;
}
.services{
    background-color: #F3D5D5;
    width: 100vw;
    height: fit-content;
    padding: 3rem 0;
}
.services>h1{
    text-align: center;
    color: #00256e;
    font-size: 3.5rem;
    font-weight:300;
    padding: 0;
    margin: 0;
    letter-spacing: 0.1rem;
}
.services>p{
    text-align: center;
    color: #0039ac;
    font-size: 1.15rem;
    max-width: 80vw;
    margin: auto;
    font-weight: 300;
    font-style: italic;
    margin-top: 0.8rem;
    letter-spacing: 0.1rem;
}
.service-cont{
    width: 74vw;
    height: 45rem;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service-list{
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 3rem; */
}
.each-service{
    display: flex;
    gap: 2rem;
}
.each-img{
    width: 9rem;
    height: 9rem;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 4px #142850a8;
}
.each-title{
    width: 70%;
}
.each-title>h3{
    color: #142850;
    font-size: 1.5rem;
    margin: 0;
}
.each-title>p{
    color: #1e3c79;
    width: 100%;
}






.contact-card{
    width: 15rem;
    height: 98%;
    background-color: #BDE1F4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.9rem;
}
.border-cont{
    width: 92%;
    height: 80%;
    border: 2px solid #9ba1ad;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}
.contact-img{
    color:rgb(46, 167, 207);
    font-size: 3rem;
}
.contact-p{
    width: 90%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    color: #142850;
    letter-spacing: 0.15rem;
    line-height: 2rem;
}
.contact-h6{
    color: #142850;
    font-size: 1rem;
    text-align: center;
    line-height: 2rem;
    width: 80%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.contact-h1{
        color: #142850;
        font-size: 1.2rem;
        width: 85%;
        text-align: center;
}
.contact-h5{
    color: #142850;
    font-size: 1.1rem;
    text-align: center;
    line-height: 2rem;
    width: 80%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.contact-btn{
    width: 80%;
    height: 7%;
    aspect-ratio: 16/8;
    border-radius: 5rem;
    background-color: #239DDB;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

}
.contact-btn:hover{
    background-color: #F3D5D5;
    color: #00256e;
    border: 1.5px solid #00256e;
    transition: 0.4s ease;
}
.contact-icon{
    font-size: 20px;
}






@media (max-width:1000px) {
    .service-cont{
        width: 90vw;
    }
    .each-img{
        width: 6rem;
        height: 6rem;
    }
    .contact-card{
        width: 30%;
    }
    .border-cont{
        height: 90%;
        gap: 1.7rem;
    }
    .contact-btn{
        width: 90%;
        height: 8%;
        aspect-ratio: 16/6;
    }
}


@media (max-width:770px) {
    .hero-cont>h1{
        font-size: 2.5rem ;
        line-height: 3rem;
    }
    .hero-cont>p{
        font-size: 1.5rem;
        line-height: 2.3rem;
    }
    .services>h1{
        font-size: 2.2rem;
        letter-spacing: 0.03rem;
    }
    .services>p{
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
    .service-cont{
        height: 55rem;
    }

    /* mobile query */

    .services{
        background-color: white;
    }
    .service-cont{
        flex-direction: column;
        height: fit-content;
    }
    .service-list{
        width: 100%;
    }
    .each-service{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .each-img{
        width: 60%;
        height: 60%;
        border-radius: 3rem;
        aspect-ratio: 1/1;
        margin-bottom: 0.4rem;
    }
    .each-service{
        width: 100%;
        gap: 2rem;
        margin-bottom: 4rem;
    }
    .each-title{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
    }
    .each-title>p{
        line-height: 1.5rem;
        text-align: center;
    }


    .contact-card{
        width: 75%;
        height: 100%;
        aspect-ratio: 1/1.3;
    }
    .border-cont{
        justify-content: space-around;
        height: 95%;
        gap: 0.5rem;
    }
    .contact>img{
        width: 30%;
    }
    .contact>p{
        width: 60%;
    }
    .contact-h6{
        /* font-size: 1.2rem; */
        line-height: 1.6rem;
    }
    .contact-h1{
        text-align: center;
        width: 90%;
        letter-spacing: 0.15rem;
    }
    .contact-h5{
        width: 70%;
    }
}


@media (max-width:418px) {
    .hero{
        height: 90vh;
    }
   .hero-cont>h1{
    font-size: 2.2rem;
   }
   .contact-card{
        width: 85%;
        height: 100%;
        aspect-ratio: 1/1.8;
    }
}