.nav-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    gap: 1rem;
    position: static;
}
.page{
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
    width: fit-content;
}

.page:focus{
    border: 1px solid white;
}